* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.CodeMirror {
  height: 340px !important;
  color: white;
}
.CodeMirror-gutters {
  background: #0a0240 !important;
}
.CodeMirror-scroll {
  background: #0a0240;
}
